{% extends "base.java.jinja" %}

{% block imports %}
{% for import in imports(type, namespace, [nullable,
                                           nonnull,
                                           'java.util.Arrays',
                                           'java.util.Objects',
                                           'java.io.IOException',]) | sort %}
import {{ import }};
{% endfor %}
{% endblock %}

{% set fields = filter_field_named(type.all_fields, 'other') %}
{% set non_void_fields = non_void_fields(fields) %}

{% block content %}
{% if type.doc %}
/**
 * {% filter wordwrap(width=77, wrapstring='\n * ') %}{{ type.doc }}{% endfilter +%}
 */
{% endif %}
public final class {{ type_name(type) }} {

    /**
     * Type discriminating tag for union type {@link {{ type_name(type) }}}.
     */
    public enum _Tag {
        {% for field in fields %}
        {% if field.doc %}
        /**
         * {% filter wordwrap(width=69, wrapstring='\n * ') | indent(width=8) %}{{ field.doc }}{% endfilter +%}
         */
        {% endif %}
        {{ field.name | upper }}{% if loop.last and type.closed %};{% else %},{% endif +%} // {{ type_name(field.data_type) }}
        {% endfor %}
        {% if not type.closed %}
        /**
         * Catch-all used for unknown tag values.
         *
         * <p> Receiving a catch-all value typically indicates this SDK version
         * is not up to date. Consider updating your SDK version to handle the
         * new tags. </p>
         */
        OTHER; // *catch_all
        {% endif %}
    }

{% if not type.closed %}
    /**
     * Catch-all used for unknown tag values.
     *
     * <p> Receiving a catch-all value typically indicates this SDK version is
     * not up to date. Consider updating your SDK version to handle the new
     * tags. </p>
     */
    public static final {{ type_name(type) }} OTHER = new {{ type_name(type) }}(
        _Tag.OTHER{% if non_void_fields | length > 0 %},{% endif +%}
        {% for field in non_void_fields  %}
        null{% if not loop.last %},{% endif +%}
        {% endfor %}
    );
{% endif %}

    @Nonnull private final _Tag _tag;
    {% for field in non_void_fields %}
    @Nullable private final {{ type_name(field.data_type) }} {{ arg_name(field.name) }};
    {% endfor %}

    private {{ type_name(type) }}(
        @Nonnull _Tag _tag{% if non_void_fields %},{% endif +%}
        {% for field in non_void_fields %}
        @Nullable {{ type_name(field.data_type) }} {{ arg_name(field.name) }}{% if not loop.last %},{% endif +%}
        {% endfor %}
    ) {
        this._tag = _tag;
        {% for field in non_void_fields %}
        this.{{ arg_name(field.name) }} = {{ arg_name(field.name) }};
        {% endfor %}
    }
{% for field in fields +%}
    /**
     * Static factory function to create an instance of {{ type_name(type) }}
     * that represents a {{ arg_name(field.name) }}.
     *
     * {% filter wordwrap(width=77, wrapstring='\n * ') | indent %}@param {{ arg_name(field.name) }} {{ field.doc }}{% endfilter +%}
     */
    public static {{ type_name(type) }} {{ arg_name(field.name) }}({% if not is_void_type(field.data_type) %}{{ type_name(field.data_type) }} {{ arg_name(field.name) }}{% endif +%}) {
        return new {{ type_name(type) }}(
            _Tag.{{ field.name | upper }}{% if non_void_fields %},{% endif +%}
            {% for f in non_void_fields %}
            {% if f.name == field.name %}
            {{ arg_name(field.name) }}{% if not loop.last %},{% endif +%}
            {% else %}
            null{% if not loop.last %},{% endif +%}
            {% endif %}
            {% endfor %}
        );
    }
{% endfor +%}
{% for field in fields +%}
    /**
     * Returns true if the union represents a {{ arg_name(field.name) }}.
     */
    public boolean {{ method_name('is', field.name) }}() {
        return _tag == _Tag.{{ field.name | upper }};
    }

    {% if not is_void_type(field.data_type) %}
    /**
     * {% filter wordwrap(width=77, wrapstring='\n * ') | indent %}{{ field.doc }}{% endfilter +%}
     *
     * @return The {@link {{ type_name(field.data_type) }}} value associated with this instance if
     *     {@link #{{ method_name('is', field.name) }}} is {@code true}.
     *
     * @throws IllegalStateException If {@link #{{ method_name('is', field.name) }}} is {@code false}.
     */
    public {{ type_name(field.data_type) }} {{ method_name('get', field.name) }}() {
        if (this._tag != _Tag.{{ field.name | upper }}) {
            throw new IllegalStateException(String.format(
                "Invalid tag: Union is not of type %s, but is %s",
                "{{ field.name | upper }}",
                this._tag.name()));
        }
        return this.{{ arg_name(field.name) }};
    }
    {% endif %}
{% endfor +%}
{% if not type.closed +%}
    /**
     * Returns true if the union represents an unknown variant.
     */
    public boolean isOther() {
        return _tag == _Tag.OTHER;
    }
{% endif +%}
    @Override
    public int hashCode() {
        return Arrays.hashCode(new Object [] {
            this._tag{% if non_void_fields %},{% endif +%}
            {% for field in non_void_fields %}
            this.{{ arg_name(field.name) }}{% if not loop.last %},{% endif +%}
            {% endfor %}
        });
    }

    @Override
    public boolean equals(Object obj) {
        if (obj == this) {
            return true;
        }
        if (obj == null) {
            return false;
        } else if (obj instanceof {{ type_name(type) }}) {
            {{ type_name(type) }} other = ({{ type_name(type) }}) obj;
            if (this._tag != other._tag) {
                return false;
            }
            switch (this._tag) {
                {% for field in fields if not is_void_type(field.data_type) %}
                case {{ field.name | upper }}:
                    {% if is_void_type(field.data_type) %}
                    return true;
                    {% else %}
                    return Objects.equals(this.{{ arg_name(field.name) }}, other.{{ arg_name(field.name) }});
                    {% endif %}
                {% endfor %}
                {% for field in fields if is_void_type(field.data_type) %}
                case {{ field.name | upper }}:
                {% endfor %}
                case OTHER:
                    return true;
                default:
                    return false;
            }
        } else {
            return false;
        }
    }

    @Override
    public String toString() {
        String value;
        switch (_tag) {
            {% for field in non_void_fields %}
            case {{ field.name | upper }}:
                value = this.{{ arg_name(field.name) }}.toString();
                break;
            {% endfor %}
            case OTHER:
                value = "other";
                break;
            default:
                value = "void";
        }
        return String.format(
            "%s(_tag=%s, value=%s)",
            "{{ type_name(type) }}",
            this._tag.name(),
            value
        );
    }
    /** For internal use only. */
    static class Serializer extends UnionSerializer<{{ type_name(type) }}> {
        public static final Serializer INSTANCE = new Serializer();

        @Override
        public void serialize({{ type_name(type) }} value, JsonGenerator g) throws IOException {
            switch (value.tag()) {
                {% for field in type.all_fields if not field.catch_all %}
                case {{ field.name | upper }}:
                {% if is_void_type(field.data_type) %}
                    g.writeString("{{ field.name }}");
                {% else %}
                    g.writeStartObject();
                    writeTag("{{ field.name }}", g);
                {% if is_struct_type(field.data_type) and not field.data_type.has_enumerated_subtypes() or is_nullable_type(field.data_type) and not field.data_type.data_type.has_enumerated_subtypes() %}

                {% endif %}

                {% endif %}
                {% endfor %}
            }
            {% if is_nullable_type(field.data_type) %}
            if (value.{{ arg_name(field.name) }} != null) {
                {{ render_serialize(field) | indent(16) }}
            }
            {% else %}
            {{ render_serialize(field) | indent(12) }}
            {% endif %}
            {% endfor %}
            {% if is_struct_type(type) %}
            if (!collapse) {
                g.writeEndObject();
            }
            {% endif %}
        }

        @Override
        public {{ type_name(type) }} deserialize(JsonParser p, boolean collapsed) throws IOException {
            {{ type_name(type) }} value;
            String tag = null;
            if (!collapsed) {
                expectStartObject(p);
                tag = readTag(p);
                {# TODO Handle validation of tag #}
            }
            if (tag == null) {
                {% for field in type.all_fields %}
                {{ type_name(field.data_type) }} ${{ arg_name(field.name) }} = {% if has_default_value(field) %}{{ default_value(field) }}{% else %}null{% endif -%};
                {% endfor %}
                while (p.currentToken() == JsonToken.FIELD_NAME) {
                    String field = p.currentName();
                    p.nextToken();

                    {% for field in type.all_fields %}
                    {% if not loop.first %}else {% endif +%}
                    if (field.equals("{{ arg_name(field.name) }}")) {
                        ${{ arg_name(field.name) }} = {{ serializer(field.data_type) }}.deserialize(p);
                    }
                    {%+ endfor -%} else {
                        skipValue(p);
                    }
                }
                {% for field in type.all_required_fields %}
                if (${{ arg_name(field.name) }} == null) {
                    throw new JsonParseException(p, String.format("Missing required field '%s'.", "{{ arg_name(field.name) }}"));
                }
                {% endfor %}

                value = new {{ type_name(type) }}.Builder(
                        {% for field in type.all_fields %}
                        ${{ arg_name(field.name) }}{% if not loop.last %},{% endif +%}
                        {% endfor %}
                ).build();
            } else {
                throw new JsonParseException(p, String.format("No subtype found that matches tag: %s", tag));
            }
            if (!collapsed) {
                expectEndObject(p);
            }

            StoneDeserializerLogger.log(value, serialize(value));
            return value;
        }
    }

    {% filter indent %}
    {% include "_serializer.java.jinja" %}
    {% endfilter %}
}
{% endblock %}